{% extends 'account_base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<form class="box" method="post">
  <h1>Sign up</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p class="message">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <input type="text" name="username" placeholder="Username" value="{{ username }}">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirm_password" placeholder="Confirm password">
  <input type="submit" value="Sign up">

  <a class="message" style="color: white" href="{{ url_for('account.login') }}">
    Already have an account? Log in</a>
</form>

{% endblock %}