{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form class="box" method="post">
  <h1>Login</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p class="message">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <input type="text" name="username" placeholder="Username" value="{{ username }}">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">

  <a class="message" style="color: white" href="{{ url_for('signup') }}">
    Don't have an account? Sign up</a>
</form>

{% endblock %}