{% extends "home_base.html" %}

{% block title %}Password manager{% endblock %}

{% block content %}

<h1>Password manager</h1>

<form class="new_pass" method="post">
  <input type="submit" value="New password"/>
</form>

<table>

  <tr>
    <th>URL</th>
    <th>Login</th>
    <th>Password</th>
    <th>Strength</th>
    <th>Actions</th>
  </tr>

  {% for password in passwords %}

    <tr>
      <td>{{ password[0] }}</td>
      <td>{{ password[1] }}</td>
      <td>{{ password[2] }}</td>
      <td>strength</td>
      <td>
        <form>
          <button class="red" formaction="">Delete</button>
          <button class="blue" formaction="">Update</button>
        </form>
      </td>
    </tr>

  {% endfor %}

</table>

{% endblock %}