{% extends "home_base.html" %}

{% block title %}Update password{% endblock %}

{% block content %}

<h1>Update password</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p class="message">{{msg}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form class="box" method="post">

  <h3>URL</h3>
  <input type="text" name="url" value="{{ password[0] }}"/>

  <h3>Login</h3>
  <input type="text" name="login" value="{{ password[1] }}"/>

  <h3>Password</h3>
  <input type="text" name="password" value="{{ password[2] }}"/>

  <input type="submit" value="Update"/>
</form>

{% endblock %}